@(bots: Seq[model.slack.bot.SlackBot[_ <: model.slack.bot.configuration.SlackBotConfiguration, _ <: model.slack.bot.SlackBotResult]])

@main("双葉ちゃん管理コンソール") {
    <div id="content">
        <div class="container">
            <h2 class="title">双葉ちゃん管理コンソール</h2>
            <div class="row">
                <div class="col-sm-8">
                    <form>
                        <div class="panel panel-default">
                            <div class="panel-heading">双葉ちゃん起動状況</div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Bot名</th><th>起動状況</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for(bot <- bots) {
                                    <tr class="@if(bot.isStarted) {success} else {danger}">
                                        <td> @bot.config.name </td>
                                        <td>
                                        @if(bot.isStarted) {
                                            <button class="btn btn-danger" formmethod="post" formaction="/kill?id=@bot.id" >
                                                停止</button>
                                        } else {
                                            <button class="btn btn-success" formmethod="post" formaction="/start?id=@bot.id" >
                                                起動</button>
                                        }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
                    <!-- MENUにするつもり -->
                <div class="col-sm-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">双葉ちゃん一括起動</div>
                        <form>
                            <div class="panel-body">
                                <button class="btn btn-success" formmethod="post" formaction="/start_all">全て起動</button>
                                <button class="btn btn-danger" formmethod="post" formaction="/kill_all">全て停止</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row" ng-app="futabaApp">
                <script type='text/javascript' src="@routes.Assets.versioned("javascripts/controller/LoggerController.js")">  </script>
                <div class="col-sm-8" ng-controller="LoggerController">
                    <div class="panel panel-warning">
                        <div class="panel-heading">双葉ちゃん一括起動</div>
                        <div class="panel-body">
                            <span ng-repeat="message in messages.slice().reverse() | limitTo: 5" ng-model="messages">
                                {{message}}<br>
                            </span>
                            <button class="btn btn-danger" ng-click="send('hellow')">全て停止</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
